*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css per header */

header {
    height: 600px;
    background-image: url("/storage/img/jumbotron.jpg");
    background-size: cover;

    .containerheader{
        width: 100%;
        background-color: white;

        section {
            height: 120px;
            width: 80%;
            margin: auto;
    
            img {
            float: left;
            margin-top: 30px;
            width: 80px;
            }
    
            ul {
                float: right;
    
                li {
                    display: inline-block;
                    margin: 0 10px;
                    margin-top: 60px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
    
                    &:hover {
                        color: #0282F9;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}

/* css per parte principale */

.teen-titans img {
    max-width: 100%;
}

.container-general{
    background-color: #1C1C1C;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.series{
    position: relative;
    left: 100px;
    top: -10px;
    background-color: #0282F9;
    color: white;
    padding: 10px 5px;
    border: none;
    text-transform: uppercase;
}

.buttonload {
    text-align: center;
}

.load {
    background-color: #0282F9;
    color: white;
    padding: 10px 5px;
    border: none;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.thumbsComics {
    margin-top: 30px;
    width: calc(100% / 6);
    

    img {
        max-width: 100%;
        object-position: top;
        height: 70%;
    }

    p {
        a {
            color: white;
            text-decoration: none;
            
            &:hover {
                color: #0282F9;
            }
        }
    }
} 

.container-merchandise {
    width: 100%;
    background-color: #0282F9;

    .merchandise {
        width: 80%;
        margin: 0 auto;
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    
        .buy {
            margin-top: 50px;
            width: calc(100% / 5);
            line-height: 100px;
    
            img {
                max-width: 30%;
                vertical-align: middle;
            }

            span {
                color: white;
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
}

/* css per footer */

.container-footer {
    background-image: url("/storage/img/footer-bg.jpg");
    background-size: cover;
    height: 400px;
}

.footer-links {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    .list-container {
        margin-top: 50px;
        width: 50%;
        display: flex;
        justify-content: space-evenly;

        .dc-list {
            width: calc(100% / 3 - 10px);

            h4 {
                color: #0282F9;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            .list {

                li{
                    list-style-type: none;
                    color: white;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .imgcontainer {

        width: 50%;

        img {
            /* max-width: 100%; */
            height: 400px;
            width: 600px;
            opacity: 0.5;
            object-fit: none;
        }

    }

}

.social {
    background-color: #303030;
    height: 100px;

    .elements {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sign {

            margin-top: 20px;

            .sign-up {
                color: white;
                background-color: transparent;
                border: 2px solid #0282F9;
                text-transform: uppercase;
                padding: 20px;
                font-size: 15px;
            }
        }

        .icons {

            span {
                color: #0282F9;
                margin-right: 10px;
                font-size: 25px;
                
            }

            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
}


/* css per pagina fumetto singolo */

.blue {
    background-color: #0282F9;
    height: 100px;
    position: relative;

    img {
        height: 250px;
        width: 200px;
        position: absolute;
        top: -200px;
        left: 130px;
    }
}

.info {
    height: 500px;
    background-color: white;

    .container-info {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .comic-description {
            margin-top: 50px;
            width: 65%;

            h2 {
                color: #003558;
                text-transform: uppercase;
            }

            .green {
                display: flex;
                margin-top: 30px;

                .green-one {
                    background-color: #55BA59;
                    height: 40px;
                    width: 70%;
                    display: flex;
                    justify-content: space-between;

                    .price {
                        line-height: 30px;
                        margin-left: 15px;

                        #us-price{
                            color: #A2F182;
                        }

                        #price-num {
                            color: white;
                        }
                    }

                    .availability {

                        line-height: 30px;
                        margin-right: 15px;

                        h4 {
                            color: white;
                            text-transform: uppercase;
                        }
                    }
                }
    
                .green-two{
                    background-color: #55BA59;
                    height: 40px;
                    width: 30%;
                    border-left: 1px solid black;
                    line-height: 30px;

                    h4 {
                        color: white;
                        text-transform: uppercase;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }

            p {
                margin-top: 20px;
                color: #758386;
                line-height: 30px;
            }

        }

        .advertisement {
            margin-top: 50px;
            width: 30%;
            height: 300px;

            h4 {
                color: #758386;
                text-transform: uppercase;
                float: right;
            }

            .image-ad {
                margin-top: 20px;
                background-image: url("https://upload.wikimedia.org/wikipedia/it/a/a5/Morte_Superman.jpg");
                background-size: cover;
                height: 300px;
                background-position: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {
                    color: white;
                    text-transform: uppercase;
                    font-size: 35px;
                }

                .apply {
                    width: 60%;
                    text-align:left;
                    background-color: #FFE665;
                    padding: 10px 20px;
                    font-size: 20px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.description-comic {
    background-color: #F6F6F6;
    min-height: 300px;

    .container-description {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .talent {

            width: 60%;
            margin-top: 50px;

            h2 {
                color: #003558;
            }

            .artby {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                border-top: 1px solid #E4E4E4;
                border-bottom: 1px solid #E4E4E4;
                padding: 10px 0;

                p {
                    color: #0282F9;
                    width: 80%;
                }
            }

            .writtenby {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                border-bottom: 1px solid #E4E4E4;
                padding: 10px 0;

                p {
                    color: #0282F9;
                    width: 80%;
                }
            }
        }

        .specs {
            width: 35%;
            margin-top: 50px;

            h2 {
                color: #003558;
            }

            .series-action {
                display: flex;
                justify-content:space-between;
                margin-top: 20px;
                border-top: 1px solid #E4E4E4;
                border-bottom: 1px solid #E4E4E4;
                padding: 10px 0;

                p {
                    color: #003558;
                }

                #action-comics {
                    text-transform: uppercase;
                    color: #0282F9;
                }
            }

            .us-price {
                display: flex;
                justify-content:space-between;
                border-bottom: 1px solid #E4E4E4;
                padding: 10px 0;

                p {
                    color: #003558;
                }
            }

            .on-sale {
                display: flex;
                justify-content:space-between;
                border-bottom: 1px solid #E4E4E4;
                padding: 10px 0;

                p {
                    color: #003558;
                }
            }
        }
    }

    .merch-page {
        margin-top: 100px;
        display: flex;

        .merch-objects {
            width: calc(100% / 6);
            border: 1px solid #E4E4E4;
            display: flex;
            justify-content: space-between;
            min-height: 50px;

            .merch-span {
                color: #7a7a7a;
                text-transform: uppercase;
                margin-left: 10px;
                padding-top: 20px;
            }

            img {
                width: 15%;
                margin-right: 10px;
                padding: 10px 0;
                filter: invert(0.6);
            }
        }
    }
}
